:root {
  --surface-1: color-mix(in hsl, var(--md-sys-color-surface-tint) 5%, var(--md-sys-color-surface));

  --sidebar-width: 10vw;
  --sidebar-max-width: 5rem;
  --sidebar-padding: 0.5rem;

  --border-radius: 1rem;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  color-scheme: light dark;
}

body {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 1rem;
  background: var(--md-sys-color-background);

  /* overriden by the "inter.className" class in layout.tsx */
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: underline;
}

code {
  font-family: 'Fira Mono', 'Droid Sans Mono', 'monospace', monospace;
}

img.mock-mac-os-icon {
  /* Matches the padding of a macOS icon */
  padding: calc(var(--img-width) / 10);
  border-radius: calc(var(--img-width) * 0.25);
}

.pfp {
  width: var(--sidebar-width);
  max-width: var(--sidebar-max-width);
  height: auto;
  padding: var(--sidebar-padding);
  box-sizing: content-box;
}

header {
  align-self: center;
  padding: 1rem;
}

header h1+p {
  font-size: 1.5rem;
  font-weight: 300;
  font-style: italic;
  margin-top: -0.25rem;
}

nav {
  background: var(--surface-1);
  padding: var(--sidebar-padding);
  border-top-right-radius: var(--border-radius);

  overflow-y: auto;
  scroll-behavior: smooth;
}

nav li {
  list-style: none;
}

nav li img {
  --img-width: min(var(--sidebar-width),
      var(--sidebar-max-width));
  width: var(--img-width);
  height: auto;
}

main {
  padding-inline: 1rem;
  overflow-y: auto;
  scroll-behavior: smooth;
}

@media print {
  nav {
    display: none;
  }

  main {
    grid-column: 1 / -1;
  }
}

section {
  background: var(--surface-1);
  padding: 1.5rem;
  border-radius: var(--border-radius);
  max-width: 70rem;
  margin-bottom: 2rem;
}

section h2 {
  margin-bottom: 1.5rem;
}

section p {
  margin-bottom: 0.75rem;
}

section .section-header {
  display: flex;
  flex-flow: row wrap;
  margin-bottom: 1.5rem;
}

section .section-header img {
  --img-width: 2em;
  height: var(--img-width);
  width: auto;
  max-width: calc(var(--img-width) * 1.5);
  margin-inline-end: 0.5rem;
}

section .section-header .technologies>*:last-child img {
  margin-inline-end: 0;
}

section .section-header h2 {
  flex: 1;
  margin-bottom: 0;
}