:root {
  --surface-1: color-mix(in hsl, var(--md-sys-color-surface-tint) 5%, var(--md-sys-color-surface));

  --sidebar-width: 10vw;
  --sidebar-max-width: 5rem;
  --sidebar-padding: 0.5rem;

  --border-radius: 1rem;

  --section-padding: 1.5rem;

  --scrollbar-color: color-mix(in hsl, var(--md-sys-color-on-background) 50%, var(--md-sys-color-background));

  /* Font fallbacks from https://github.com/system-fonts/modern-font-stacks */
  --body-fonts: Inter, 'Adwaita Sans', Roboto, 'Helvetica Neue', 'Arial Nova', 'Nimbus Sans', Arial, ui-sans-serif, system-ui, sans-serif;
  --heading-fonts: Avenir, Montserrat, Corbel, 'URW Gothic', source-sans-pro, var(--body-fonts);
  --monospace-fonts: 'Adwaita Mono', 'Ubuntu Mono',
    'Droid Sans Mono', 'Fira Code', 'Fira Mono', 'JetBrains Mono',
    ui-monospace,
    'Cascadia Code', 'Source Code Pro', Menlo, Consolas, 'DejaVu Sans Mono',
    SFMono-Regular, source-code-pro, 'Source Code Pro', Monaco, "Liberation Mono", "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  color-scheme: light dark;
}

body {
  background: var(--md-sys-color-background);
  font-family: var(--body-fonts);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--heading-fonts);
}

#root {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto 1fr;
  gap: 1rem;
}

a {
  color: inherit;
  text-decoration: underline;
}

code {
  font-family: var(--monospace-fonts);
}

img.mock-mac-os-icon {
  /* Matches the padding of a macOS icon */
  padding: calc(var(--img-size) / 10);
  border-radius: calc(var(--img-size) * 0.25);

  --shadow-color: rgba(0, 0, 0, 0.2);
  --ds: calc(var(--img-size) / 50);
  filter: drop-shadow(var(--ds) var(--ds) var(--ds) var(--shadow-color));
}
img.mock-mac-os-icon-white {
  --shadow-color: rgba(255, 255, 255, 0.2);
}

.pfp {
  width: var(--sidebar-width);
  max-width: var(--sidebar-max-width);
  height: auto;
  padding: var(--sidebar-padding);
  box-sizing: content-box;
}

header {
  /* todo: place header above card body */

  align-self: center;
  padding: 1rem;

  & h1+p {
    font-size: 1.5rem;
    font-weight: 300;
    font-style: italic;
    margin-top: -0.25rem;
  }
}

menu,
main {
  scrollbar-color: var(--scrollbar-color) transparent;
  scrollbar-width: thin;
}

menu {
  background: var(--surface-1);
  padding: var(--sidebar-padding);
  border-top-right-radius: var(--border-radius);

  overflow-y: auto;
  scroll-behavior: smooth;

  & li {
    list-style: none;

    & img {
      --img-size: min(var(--sidebar-width),
          var(--sidebar-max-width));
      width: var(--img-size);
      height: auto;
    }
  }
}

main {
  padding-left: 1rem;
  padding-right: 2rem;
  overflow-y: auto;
  scroll-behavior: smooth;
  transition: padding-left 0.1s ease-out, padding-right 0.1s ease-out;
}

@media (width <= 80rem) {
  main {
    padding-left: 0;
    padding-right: 1rem;
  }
}

@media print {
  html {
    height: auto;
  }

  body {
    background: none;
  }

  menu {
    display: none;
  }

  main {
    grid-column: 1 / -1;
    overflow: visible;
    height: auto;
  }

  a {
    text-decoration: none;
  }

  a::after {
    content: " (" attr(href) ")";
    font-style: italic;
    opacity: 0.8;
    font-weight: 300;
  }

  a[href^="#"]::after,
  section .section-header .technologies a::after {
    content: "";
  }
}

section {
  background: var(--surface-1);
  padding: var(--section-padding);
  border-radius: var(--border-radius);
  max-width: 70rem;
  margin-bottom: 2rem;

  & h2 {
    margin-bottom: 1.5rem;

    & a {
      text-decoration: none;
    }
  }
  
  & p,
  & ul {
    margin-bottom: 0.75rem;
  }

  & ul {
    padding-inline-start: 1.5rem;
  }
  
  & .date {
    text-align: end;
  }
  
  & .section-header {
    display: flex;
    flex-flow: row wrap;
    margin-bottom: 1.5rem;

    & img {
      --img-size: 2em;
      height: var(--img-size);
      width: auto;
      max-width: calc(var(--img-size) * 1.5);
      margin-inline-end: 0.5rem;
    }

    & h2 {
      flex: 1 0;
      margin-bottom: 0;
      padding-inline-end: 0.5rem;
    }

    & .technologies {
      flex: 1 0;
      text-align: end;
    }

    & .technologies>*:last-child img {
      margin-inline-end: 0;
    }

    .date-mobile {
      display: none;
    }

    @media (width <= 40rem) {
      .date-desktop {
        display: none;
      }
      .date-mobile {
        display: block;
        flex: 1 0 50vw;
        text-align: center;
      }

      .technologies {
        flex: none;
      }
    }
  }

  & .section-images {
    /* scrollable row of images */
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    gap: 1rem;

    /* allow images to scroll up to edge of section */
    margin-inline: calc(-1 * var(--section-padding));
    padding-inline: var(--section-padding);
    /* keep scrollbar out of the way */
    margin-bottom: calc(-1 * var(--section-padding));
    padding-bottom: var(--section-padding);

    & > * {
      flex-shrink: 0;
      border-radius: var(--border-radius);
      cursor: zoom-in;
    }

    & img {
      --img-size: min(33vh, 33vw);
      height: var(--img-size);
      width: auto;
      border-radius: var(--border-radius);
    }
  }
}

.section-dialog {
  display: flex;
  flex-flow: column nowrap;
  width: 90vw;
  margin: 1rem auto;

  &,
  & .MuiDialog-paper {
    background: var(--surface-1);
    border-radius: var(--border-radius);
    color: var(--on-surface);
  }

  & .section-dialog-header {
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 1rem;
    padding: 1rem;
    
    & .spacer {
      flex: 1;
    }
    & .section-dialog-button {
      appearance: none;
      padding: 0.5rem;
      background: none;
      border: none;
      cursor: pointer;
      &[disabled] {
        cursor: default;
      }
    }
    & .section-dialog-nav {
      display: flex;
      flex-flow: row nowrap;
      gap: 1rem;
      padding-inline: 1rem;
      & > p {
        padding-block: 0.5rem;
      }
    }
  }
  & .section-dialog-wrapper {
    flex: 1;
    width: 100%;
    & .section-dialog-content {
      width: 100%;
      & img {
        flex: 1;
        width: 100%;
        height: auto;
        max-height: 90lvh;
        object-fit: contain;
        border-radius: var(--border-radius);
      }
    }
  }
}

@media (prefers-color-scheme: dark) {
  img[src$="pwa.svg"] {
    filter: invert(1) hue-rotate(166deg);
  }
}
